
<div class="user">
   <div class="box">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRODZob7ROpqlx8WXwjueNwTOlC6Qum-yMiyfXiFRXkdhkHgybCpdvM1UpaXCL1ycfO8NI&usqp=CAU" alt="">
    <p class="data">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, officiis?</p>
    <div class="info">
        <div class="name">
            <p>Name:</p>
            <p>{{cuser.name}}</p>
        </div>
        <div class="email">
            <p>Eamil:</p>
            <p>{{cuser.email}}</p>
        </div>
    </div>
   </div>
</div>